.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border: 1px;
  border-radius: 1px;
  padding: 50px;
  margin-bottom: 20px;
  background-color: transparent;
}

.heading {
  font-size: 5em;
  margin-bottom: 20px;
  color: white;
}

.heading2 {
  font-size: 3em;
  color: green;
  margin-bottom: 10px;
}

.info {
  font-size: 1.5em;
}

.card img {
  align-content: center;
  width: 400px; /* Adjust the image size as needed */
  height: 400px; /* Adjust the image size as needed */
  margin-right: 2px; /* Add some space between the image and details */
}

.cart-item {
  align-self: center;
  align-items: center;
  align-content: center;
}

/* Media queries */
@media screen and (min-width: 575px) {
  .card img {
    width: 250px; /* Adjust image size for screen width >= 575px */
  }
}

@media screen and (min-width: 768px) {
  .card img {
    width: 300px; /* Adjust image size for screen width >= 768px */
  }
}

@media screen and (min-width: 992px) {
  .card img {
    width: 350px; /* Adjust image size for screen width >= 992px */
  }
}

@media screen and (min-width: 1200px) {
  .card img {
    width: 400px; /* Adjust image size for screen width >= 1200px */
  }
}
